<div class="d-flex">
  <!--Nav Lateral-->
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">App</h3>
    <hr class="text-white">
    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">
        Dashboard
      </a>
    </div>
  </div>

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar...">
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col">
        1.Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque non, sed fugiat exercitationem nulla omnis eum tenetur, accusamus vero excepturi nisi ipsa nihil quia reprehenderit assumenda culpa est iusto ducimus!
      </div>
    </div>
  </div>

</div>